@import '../../assets/styles/var';

.main-page .product-item .interaction__settings {
    width: 100%;
    background-color: $grey-bg-color;
    border-radius: 10px;
    padding: 5px;
  }

.settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}