@import '../../assets/styles/var';

.main-page .product-item {
  margin-bottom: 5vh;
  margin-right: 0.5vw;
  min-width: 150px;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;

  font-family: 'Proxima Nova Bold';

  img{
    width: 95%;
  }

  &__title {
    min-height: 10%;
    margin: 15px 0;
    font-family: 'Proxima Nova Extra Bold';
    font-size: 1.1em;
    text-align: center;
  }

}