@import "../../assets/styles/var";

.header-title {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $text-base;

  &__content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 29.23px;
  }
}
