@import '../../assets/styles/var';

.header-social {
  font-size: 1.6em;
  color: $social-link-color;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  a {
    margin-left: 9px;
    text-decoration: none;
    color: $social-link-color;
    transition: color 0.5s, transform 0.5s;

    &:hover {
      color: $dark-orange-color;
      transform: rotate(360deg);
    }
  }
}