@import "../../assets/styles/var";

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sort-button {
  margin-right: 10px;

  input {
    display: none;
  }

  label {
    @extend %form-of-button;
    display: inline-block;
    background-color: $primary-color-90;

    &:hover {
      background-color: $primary-color-80;
      cursor: pointer;
    }
    &:active {
      background-color: $primary-color-70;
    }
  }

  input:checked + label {
    background-color: $primary-color-10;
    color: $primary-color-100;

    &:hover {
      background-color: $primary-color-30;
      color: $primary-color-100;
    }

    &:active {
      background-color: $primary-color-40;
    }
  }
}
