@import "../../assets/styles/var";

.nav-basket-button {
  display: inline-block;
  background-color: $primary-color-base;
  color: $text-dark-bg;
  border: 0;
  @extend %form-of-button;

  &:active {
    background-color: $primary-color-dark;
  }

  &__price {
    display: inline-block;
    padding-right: 10px;
    border-right: $text-dark-bg 1px solid;

    svg {
      margin-right: 7px;
    }

    @include for-phone-only {
      border-right: 0;
      padding-right: 0;
    }

    &::after {
      content: " ₽";
    }
  }

  &__amount {
    display: inline-block;
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding-left: 10px;

    svg {
      transform: rotate(135deg);
      margin-right: 5px;
    }
  }

  &:hover &__amount {
    opacity: 0;
    transform: translateX(-2px);
  }

  &:hover &__arrow {
    opacity: 1;
    transform: translateX(0px);
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    right: 20px;
    font-size: 1.3em;
    transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    opacity: 0;
    transform: translateX(-5px);
  }

  @include for-phone-only {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    font-size: 1.2em;

    &__amount,
    &__arrow {
      display: none;
    }
  }
}
