.header-social {
  font-size: 1.6em;
  color: $text-base;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  a {
    margin-left: 9px;
    text-decoration: none;
    color: $text-base;
    transition: color 0.5s, transform 0.5s;

    &:hover {
      color: $primary-color-dark;
      transform: rotate(360deg);
    }
  }
}