@import "../../assets/styles/var";

.basket-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %width-offset;

  .wrapper {
    display: flex;
    width: 80%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    @include for-phone-only {
      width: 100%;
    }
  }
}

