@import "../../assets/styles/var";

.empty-basket {
  @extend %width-offset;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin: 5vh 0;
    font-size: 1.5em;
    font-family: "Proxima Nova Bold";
  }

  &__description {
    width: 40vw;
    text-align: center;
  }

  &__image {
    width: 20vw;
    margin: 5vh 0;

    img {
      width: 100%;
    }
  }

  &__return-button {
    background-color: $dark-bg-color;
    color: $dark-text-color;
    border-radius: 30px;
    padding: 8px 20px;
    line-height: 2em;
    text-decoration: none;
  }

}
