@import "../../assets/styles/var";

.basket-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.basket-result {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;

  &__amount {
    .counter {
      font-weight: 700;

      &::after {
        content: " шт.";
      }
    }
  }

  &__price {
    .counter {
      color: $text-colored;
      font-weight: 700;

      &::after {
        content: " ₽";
      }
    }
  }
}

.basket-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  .return {
    @extend %return-button;
  }

  .order {
    @extend %form-of-button;
    border: 0;
    background-color: $primary-color-base;
    color: $text-dark-bg;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
      box-shadow: 0px 2px 4px 0px $primary-color-80;
      cursor: pointer;
    }

    &:active {
      background-color: $primary-color-dark;
    }
  }
}
