@import "../../assets/styles/var";

.round-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: none;
  border-width: 2px;
  border-style: solid;

  &_orange {
    border-color: $orange-color;
    color: $orange-color;
  }

  &_grey {
  border-color: $dark-grey-color;
  color: $dark-grey-color;
}
}