@import '../assets/styles/var';

.wrapper-content {
  @extend %width-offset;
  flex-grow: 1;
}

.main-page-content-title {
  font-family: 'Proxima Nova Bold';
  font-size: 32px;
  line-height: 38.98px;
}

.main-page-content-list {
  display: flex;
}