@import '../assets/styles/var';

.main-page {

  &__content-title {
    margin: 30px 0;
    font-weight: 800;
    font-size: 2em;
    line-height: 2em;
  }

  &__content-list {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content: flex-start;
    gap: 2px;
  }
}