@import '../assets/styles/var';

.navigation {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 0;

  .sort {
    flex-grow: 1;
  }

  .basket {

    &__button {
      background-color: $orange-color;
      color: $text-color-dark-bg;
      border-radius: 30px;
      border: 0;
      padding: 8px 20px;
      line-height: 2em;
    }

    &__button:active {
      background-color: $dark-orange-color;
    }

    div {
      display: inline-block;
    }

    &__price {
      padding-right: 10px;
      border-right: $text-color-dark-bg 1px solid;
    }

    &__price::after {
      content: " ₽";
    }

    &__amount {
      padding-left: 10px;
    }
  }
}

