%width-offset {
  width: 80%;
  margin: 0 auto;
}


$footer-text-color: rgba(255, 255, 255, 0.7);
$footer-link-hover-color: rgba(255, 255, 255, 1);
$footer-bg-color: rgba( 0, 0, 0, 1);
$social-link-color: rgba( 0, 0, 0, 1);
$orange-color: hsl(17, 99%, 56%);
$dark-orange-color: hsl(17, 99%, 40%);
$text-color-dark-bg: rgb(255, 255, 255);
$product-item-settings-bgcolor: #F3F3F3;
